<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/beans_4_0.xsd"
       bean-discovery-mode="annotated"
       version="4.0">
  <interceptors>
    <class>org.microjpa.RequiredTransactionInterceptor</class>
    <class>org.microjpa.RequiresNewTransactionInterceptor</class>
    <class>org.microjpa.MandatoryTransactionInterceptor</class>
    <class>org.microjpa.NeverTransactionInterceptor</class>
    <class>org.microjpa.NotSupportedTransactionInterceptor</class>
    <class>org.microjpa.SupportsTransactionInterceptor</class>
  </interceptors>
</beans>
